*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}
#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    border: 1px solid #ffffffbe;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 20vh 7vw;
}

.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: centre;
    justify-content: centre;
    gap: 1vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}
#line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5.3vw;
    text-transform: uppercase;
    opacity: 0;
    font-weight: 900;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #151515;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: centre;
    justify-content: space-between;
    padding: 3.5vw 5.5vw;
}

#nav-part2{
    display: flex;
    align-items: centre;
    justify-content: center;
    gap: 2.5vw;
}

#nav-part2 h4{
    font-size: 1.1vw;
    font-weight: 500;
}

.hero{
    /* background-color: red; */
    width: 73%;
    margin-left: 27%;
    overflow: hidden;
    /* background-color: red; */
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;

}
.hero:nth-child(2){
    margin-top: 14vh;
}
.hero h1{
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7.5vw;
    
}
.hero h2{
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7.5vw; 
    border-bottom: 0.5vw solid #fff;
    /* transition: all ease 0.3s; */
}
.hero h3{
    font-size: 6vw;
    text-transform: uppercase;
    line-height: 7.5vw;
    margin-left: 0.5vw;
}

.hero h2:hover{
    -webkit-text-stroke: 2px  #fff;
    color: transparent;
    font-weight: 400;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    height:100vh;
    width: 100%;
    padding-top: 20vh;
    position: relative;
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-container {
    height: 60vh;
    position: relative;
    width: 72%;
    margin-left: 27.5%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    /* margin-top: 20vh; */
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;

}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-crsr{
    background-color: #ffa63d;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-crsr i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
}

#page4{
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: #353535;
    padding: 7vh 0;

}

#page4-content{
    width: 72vw;
    margin-left: 28%;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}

#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 4vw 0;
}

#page4-content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: flex;
    padding-top: 1vh;
}
#page4-flex img{
    width: 48%;
    
}

#page4-flex p{
    font-size: 1vw;
    width: 19%;
    margin-left: 1vw;
}

#page4-blue{
    background-color: #3f7df4;
    width: 35vw;
    padding: 3vw;
    position: relative;
    margin-top: -32vh;
    margin-left: 24vw;
}

.blue-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 1.8vw 0;
    border-bottom: 2px solid #ffffff94;
}
.blue-elem h4{
    font-size: 1.7vw;
    font-weight: 500;
}
.blue-elem p{
    width: 40%;
    font-size: 1vw;
    margin-top: 0.6vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    padding: 5vw 0;
}

